@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.collapse {
  visibility: visible; /* Ensures content is visible */
}

body {
  /* bg-gradient-to-b from-[#F7CFD8] to-[#A6D6D6] */
  margin: 0;
  padding: 0;
  background:linear-gradient(#F7CFD8, #A6D6D6 ) ;
    font-family: "Poppins", sans-serif;
  
}
nav .btn{
  background-color: #987D9A;
}
.btn:hover {
  box-shadow: 0 0 20px #7f5981; 
  
}
.wel-desc{
  font-family: "Caveat Brush", cursive;
}
h1 {
  font-family: "Caveat Brush", cursive;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  background-color:#c285b0;
  color: #fff;
  padding: 10px 0;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}
.navbar a:hover{
  color: #7f5981;
}


.card {
  background-color: #f3f3f3;
  color: #000000;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
  transition: box-shadow 0.3s ease;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-secondary {
  background-color: #696969;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 20px #3a3c3d; 
  transition: box-shadow 0.3s ease
}

.btn-secondary:hover {
  background-color: #545b62;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}


.about-container {
  background-color: #f8f9fa;
  padding: 50px 0;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about-content h1 {
  color: #343a40;
}

.about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #6c757d;
  margin-bottom: 20px;
}
